@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-primary font-inter;
  }
  header {
    @apply bg-white flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6 z-50 fixed border-b;
  }

  .container {
    @apply px-4 py-4 lg:px-10 lg:py-6;
  }
}


@layer components {
  .search {
    @apply w-full px-4 py-2 bg-primary rounded-3xl shadow-sm outline-none lg:px-10;
  }
  .rounded-container {
    @apply flex justify-between rounded-3xl bg-primary shadow-sm px-4 py-2;
  }
  .btn-outline {
    @apply flex justify-between w-48 px-4 py-3 m-auto rounded-3xl border border-secondary text-secondary font-semibold;
  }

  .btn-secondary {
    @apply flex justify-between w-48 px-2 py-3 m-auto rounded-3xl bg-secondary text-white font-semibold;
  }

  .nav-link {
    @apply flex text-tertiary font-semibold hover:text-secondary hover:bg-primary hover:border-l-2 border-l-secondary transition-all px-4 py-3;
  }

  .nav-link-active {
    @apply flex text-secondary font-semibold bg-primary border-l-2 border-l-secondary transition-all px-4 py-3;
  }

  .desktop {
    @apply  md:w-[800px] m-auto pt-28;
  }
}

.sponsored {
  background: linear-gradient(360deg, rgba(16, 24, 40, 0.8) 0%, rgba(16, 24, 40, 0) 100%), url('/sponsored.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsored-bg {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 100px;
}